# TESTING

In [21]:
print("hello World")
x = 15
y = 10

if x < y:
    print("x is less than y")
else:
    print("x is not less than y")

print (x-y)

hello World
x is not less than y
5

In [22]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## If Else Elif Statements

In [23]:
select_field = {i: True 
                if i % 2 == 0 
                else False 
                for i in range(1, 10)}
print(select_field)

# Output only even values
even_values = [k for k, v in select_field.items() if v]
print(even_values)

{1: False, 2: True, 3: False, 4: True, 5: False, 6: True, 7: False, 8: True, 9: False}
[2, 4, 6, 8]

In [24]:
x = 0
y = 0  
z = 30

# Checking if x, y, or z is true
if x:
    print(x)
elif y:
    print(y)    
elif z:
    print(z)
else:
    print("None of the variables are true")

# Checking if z is greater than or equal to 40
if z >= 40:
    print(True)
else:
    print(False)

# Nested if-else statements to check age, license, and copy
age = 18
license = True
copy = True

if age >= 18:
    if license:
        if copy:
            print("Copy hai To Car Chalao")
        else:
            print("Copy Le kr Ao")
    else:
        print("License nahi hai, Car nahi chala sakte")
else:
    print("You are too young to drive")

30
False
Copy hai To Car Chalao

## LOOPS
While

In [25]:
Panikaglass = 0

while Panikaglass < 9:
    Panikaglass += 1
    print ("I want more water")
    if Panikaglass == 4:
        print("BSS Aur Nahi Chahiye")
        break
    print("I eat pani", Panikaglass, "times")

I want more water
I eat pani 1 times
I want more water
I eat pani 2 times
I want more water
I eat pani 3 times
I want more water
BSS Aur Nahi Chahiye

## Try Except Finaly

In [26]:
try:
    print("I am trying to divide")
    result = 0 / 0
    print("Result is:", result)
except ZeroDivisionError:
    print("You cannot divide by zero")
finally:    
    print("This will always execute, regardless of an error")

I am trying to divide
You cannot divide by zero
This will always execute, regardless of an error

# User Defined Function

In [27]:
def mean_list(numbers):
    return sum(numbers) / len(numbers)

price = [1, 2, 3, 4, 5]
mean_list(price)

3.0

In [28]:
price_list = [1000, 5000, 10000, 20000, 50000]
mean_list(price_list)

17200.0

In [29]:
# Lambda Function

divide_lambda = lambda x, y: x / y if y != 0 else "Cannot divide by zero"

In [30]:
divide_lambda(10, 5)

2.0

In [31]:
numbers = [5]

cube_number = map(lambda x: x**3, numbers)
print(list(cube_number)[0])

125

## Input Function

In [32]:
name = input("Enter your name: ")
Age = input("Enter your age: ")
# Example of using the input values
print(f"Hello, {name}! Welcome to the program. You are {Age} years old.")

Hello, ! Welcome to the program. You are  years old.

In [33]:
age = input("Enter your age: ")
if age.isdigit():
    age = int(age)
    print(age)
else:   
    print("Please enter a valid age.")

Please enter a valid age.

In [34]:
# Age Find in decimal format
age_1 = input("Enter your age: ")
try:
    age = float(age_1)
    print(age_1)
except ValueError:
    print("Please enter a valid age.")

Please enter a valid age.

In [35]:
Nationality = input()
if Nationality == "Pakistan":
    print("Asalam o Alaikum")
else:
    print("Hello, how are you?")

Hello, how are you?

In [36]:
# Input multiple values and split them
name, age, city = input("Enter your name, age, and city separated by Comma: ").split(',')
print(f"Name: {name}, Age: {age}, City: {city}")

ValueError: not enough values to unpack (expected 3, got 1)

# __str__() or __repr__()

In [ ]:
# Str and repr
class Person:
    def __init__(self, name, age, city):
        self.name = name
        self.age = age
        self.city = city
    def __repr__(self):
        return f"Person(name={self.name}, age={self.age}, city={self.city})"

    def __str__(self):
        return f"{self.name}, {self.age} years old. Lives in {self.city}."

p = Person("Alice", 25, "New York")
print(p)

Alice, 25 years old. Lives in New York.

# Generator

In [ ]:
def my_gen():
    yield 1
    yield 2
    yield 3
gen = my_gen()
print(next(gen))  # Output: 1

1

In [ ]:
age, name = input("Enter your age and name separated by a comma: ").split(',')
print(f"Age: {age}, Name: {name}")

Age: 19, Name: 1

# CHECKING

In [ ]:
age = input("Enter your age: ")
try:
    age = int(age)
except ValueError:
    print("Please enter a valid age.")
if age >= 18:
    print("You are an adult " + str(age) + " Years old")
elif age >= 16:
    print("You are exactly " + str(age) + " years old")
else:
    print("You are a minor " + str(age) + " Years old")

You are a minor 8 Years old

In [ ]:
say_what=('say','what','you','will') 
print(say_what[-1])

will

In [ ]:
A = [1]
A.append([2, 3, 4, 5])

len(A)  # Output: 2

2